:root {
  --gl-color: orange;
  --bg-background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-background-color);
  overflow-x: hidden;
  font-family: "PingFang SC", "Microsoft Yahei",
    "sans-serif";
}



/* 版心 */
.banner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HeaderMenu组件修改默认样式 */
:where(.css-dev-only-do-not-override-1p3hq3p).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1p3hq3p).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: black;
  background-color: var(--gl-color);
  /* background-color: transparent; */
}

/* 移动端抽屉内菜单的激活/悬停颜色 (如果适用) */
:where(.css-dev-only-do-not-override-1p3hq3p).ant-menu-vertical .ant-menu-item-selected,
.ant-menu-vertical .ant-menu-item:hover {
  color: var(--gl-color);
}

/* 强力覆盖 - 激活菜单项底部的短线颜色 */
.ant-menu-horizontal>.ant-menu-item-selected::after {
  border-bottom-color: var(--gl-color) !important;
  background-color: var(--gl-color) !important;
}

/* 强力覆盖 - 悬停时底部线条的颜色 (可选，让悬停时也有颜色反馈) */
.ant-menu-horizontal>.ant-menu-item:hover::after {
  border-bottom-color: var(--gl-color) !important;
  background-color: var(--gl-color) !important;
}


/* footers */

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}