// 或者如果你想保留 Sass 变量并将其赋值给 CSS 变量
$background-color: #636a71;
$font-color: #ffffff;
$hom-background-color: #f0f0f0;
$dog-background-color: #f3f3ea;
$footer-background-color: #1f2935;
$cat-background-color: orange;
